node_modules
dist
dist-ssr
*.local

# Tauri
src-tauri/target/
src-tauri/Cargo.lock

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local
.env.*.local
