SERVER_HOST=0.0.0.0
SERVER_PORT=8080

REDIS_ADDR=localhost:6379
REDIS_PASS=
REDIS_DB=0

POSTGRES_DSN=host=localhost user=postgres password=postgres dbname=datacleanse port=5432 sslmode=disable

LOCK_TTL=30
WORKER_COUNT=5
